@model MatyushevLeonid.Models.Passport

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Удаление аккаунта</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm("DeleteSubmit", "Passport", FormMethod.Post))
    {
        <div class="jumbotron">
            <div class="form-group">
                <div class="col-md-offset-2 col-lg-7">
                    <div class="form-horizontal">
                        <h4>Удаление аккаунта - @Model.LoginStaff   принадлежащего сотруднику - @Model.NameStaff</h4>
                        <hr />
                        <br />
                        <fieldset class="table-bordered">
                            @Html.HiddenFor(m => m.Id)
                            <p>
                                <div class="form-group">
                                    @Html.Label("ФИО сотрудника:", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(m => m.NameStaff, null, new { @class = "form-control", @disabled = true })
                                    </div>
                                </div>
                            </p>
                            <p>
                                <div class="form-group">
                                    @Html.Label("Роль сотрудника:", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(m => m.RoleStaff, null, new { @class = "form-control", @disabled = true })
                                    </div>
                                </div>
                            </p>
                            <p>
                                <div class="form-group">
                                    @Html.Label("Логин:", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(m => m.LoginStaff, new { htmlAttributes = new { @class = "form-control", @disabled = true } })
                                    </div>
                                </div>
                            </p>
                            <p>
                                <div class="form-group">
                                    @Html.Label("Пароль:", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(m => m.PasswordStaff, new { htmlAttributes = new { @class = "form-control", @disabled = true } })
                                    </div>
                                </div>
                            </p>
                            <br />
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input name="selectedButton" type="submit" value="Удалить" class="btn btn-danger" />
                                    <input name="selectedButton" type="submit" value="Отмена" class="btn btn-success" />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>

